---
export interface Props {
  imageUrl: string;
  person: string;
  position: string;
  role: string;
  snsLinks: { platform: string; url: string; username: string }[];
  comment: string;
  other?: string;
}
const { imageUrl, person, position, role, snsLinks, comment, other } =
  Astro.props;
---

<div class="p-8 shadow-lg mt-6">
  <div class="flex flex-col lg:flex-row items-center p-16">
    <div
      class="w-64 h-64 bg-green-100 rounded-full flex overflow-hidden justify-center"
    >
      {
        imageUrl ? (
          <img src={imageUrl} alt={person} class="w-full h-full object-cover" />
        ) : (
          <span />
        )
      }
    </div>
    <div class="flex-1 text-center lg:text-right lg:ml-8">
      <h3 class="text-2xl font-bold mb-2">{person}</h3>
      <p class="text-gray-600 mb-1">{position}</p>
      <p class="text-gray-600 mb-4">担当:{role}</p>
      <p class="text-gray-600">
        SNS名<br />
        {
          snsLinks.map((link) => (
            <span>
              {link.platform}:
              <a href={link.url} target="_blank" rel="noopener noreferrer">
                {link.username}
              </a>
              <br />
            </span>
          ))
        }
      </p>
      <p class="text-black-600 my-10" set:html={comment} />
      <p class="text-black-600 my-10" set:html={other} />
    </div>
  </div>
</div>
