---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/page/pagetitle.astro';
import AchieveCard from '../components/item/AchieveCard.astro';
import { achievements } from '../data/achievements';
---

<Layout title="実績 | NC - Nekko Cloud">
  <Pagetitle title="実績" />
  <section class="py-16 bg-white">
    <div class="w-full px-8 2xl:px-24 mx-auto"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        achievements.map((achievement) => (
          <AchieveCard
            imageUrl={achievement.imageUrl}
            title={achievement.title}
            description={achievement.description}
            date={achievement.date}
            link={achievement.link}
          />
        ))
      }
    </div>
  </section>
</Layout>